#!/usr/bin/env xdg-open
[Desktop Entry]
Verision=1.0
Type=Application
Terminal=false
Exec=/usr/local/etc/showActions
Name=Management Activities
Comment=Show what the management system did.
Icon=/usr/share/icons/mdi--ansible.svg
