#!/usr/bin/env xdg-open
[Desktop Entry]
Verision=1.0
Type=Application
Terminal=false
Exec=/usr/bin/firefox /usr/local/man/ansible/actions.html
Name=Management Activities
Comment=Show what the management system did.
Icon=/usr/share/icons/mdi--ansible.svg
