---
- block:
# Install any listed apt, snap, or flatpak packages either from the its_defaultssoftware lists or from the CMDB software lists.

  - set_fact:
      combined_apt: "{{ (its_defaultsoftware.apt | default([])) + its_defaultsoftware.cmdb_apt }}"
      combined_snap: "{{ (its_defaultsoftware.snap | default([])) + its_defaultsoftware.cmdb_snap }}"
      combined_flatpak: "{{ (its_defaultsoftware.flatpak | default([])) + its_defaultsoftware.cmdb_flatpak }}"

  - name: "{{ 'Install Apt applications:</br>' + (combined_apt | join('</br>')) if combined_apt | length > 0 else '' }}"
    apt:
      name: "{{ combined_apt }}"
      state: present
      update_cache: yes
    when: combined_apt | length > 0

  - name: "{{ 'Install Snap applications:</br>' + (combined_snap | join('</br>')) if combined_snap | length > 0 else '' }}"
    community.general.snap:
      name: "{{ combined_snap }}"
      state: present
    when: combined_snap | length > 0

  - name: "{{ 'Install Flatpak applications:</br>' + (combined_flatpak | join('</br>')) if combined_flatpak | length > 0 else '' }}"
    community.general.flatpak:
      name: "{{ combined_flatpak }}"
      state: present
      remote: flathub
    when: combined_flatpak | length > 0

  when: global_network_available | default(false)

- name: "{{ 'Install utilities in /usr/local/bin/.<br>' + (its_defaultsoftware.utilities | map(attribute='src') | join('<br>')) if its_defaultsoftware.utilities | length > 0 else '' }}"
  copy:
    src: "{{ item.src }}"
    dest: "/usr/local/bin/"
    owner: root
    group: root
    mode: "{{ item.mode }}"
  loop: "{{ its_defaultsoftware.utilities }}"

