[connection]
id={{ item.name }}
uuid={{ item.uuid | default(lookup('pipe', 'uuidgen')) }}
type=wifi
autoconnect={{ item.autoconnect | default(false) | ternary('true', 'false') }}
permissions=

[wifi]
mode=infrastructure
ssid={{ item.ssid }}

[wifi-security]
key-mgmt=wpa-psk
psk={{ item.psk }}

[ipv4]
method=auto

[ipv6]
addr-gen-mode=default
method=auto
