[sssd]
domains = unibasel.ads.unibas.ch
config_file_version = 2

[domain/unibasel.ads.unibas.ch]
ad_domain = unibasel.ads.unibas.ch
krb5_realm = UNIBASEL.ADS.UNIBAS.CH
realmd_tags = manages-system joined-with-adcli 
cache_credentials = True
krb5_store_password_if_offline = True
default_shell = /bin/bash
ldap_id_mapping = False
ldap_schema = ad
use_fully_qualified_names = False
fallback_homedir = /home/%u
access_provider = simple
id_provider = ad
auth_provider = ad
override_homedir = /home/%u
dyndns_update = False
krb5_validate = False
nested_groups = yes
simple_deny_groups = {{ its_sssd.denied_ad_groups }}
simple_allow_groups = {{ its_sssd.allowed_ad_groups }}
simple_allow_users = {{ its_sssd.allowed_ad_users }}
ldap_user_gid_number = {{ its_sssd.ldap_user_gid_number }}
